{% extends 'base.html' %}

{% block content %}
<style> body { background-color: #fdf2f2; } </style>
{% include 'navbar.html' %}
<div class="min-h-screen flex items-center justify-center">
    <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-md">
        <h2 class="text-3xl font-bold text-center text-stone-800 mb-2">Sign In</h2>
        <p class="text-center text-gray-600 mb-8">Welcome to PlayMax Store</p>
        <form method="POST">
            {% csrf_token %}
            <div class="mb-4">
                <label for="id_username" class="block text-gray-700 text-sm font-bold mb-2">Username</label>
                <input type="text" name="username" id="id_username" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline focus:border-pink-500" required>
            </div>
            <div class="mb-6">
                <label for="id_password" class="block text-gray-700 text-sm font-bold mb-2">Password</label>
                <input type="password" name="password" id="id_password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline focus:border-pink-500" required>
            </div>
            <button type="submit" class="bg-pink-600 hover:bg-pink-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full">Login</button>
        </form>
        <p class="text-center text-gray-500 text-xs mt-6">Belum punya akun? <a class="text-pink-600 hover:text-pink-800" href="{% url 'main:register' %}">Daftar Sekarang</a></p>
    </div>
</div>
{% endblock %}