<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PlayMax Sport Station</title>
</head>
<body>
    <h1>Welcome, {{ name }} to PlayMax Sport Station</h1>

    <!-- Informasi Mahasiswa dari views.py -->
    <p><strong>Name:</strong> {{ name }}</p>
    <p><strong>NPM:</strong> {{ npm }}</p>
    <p><strong>Class:</strong> {{ class }}</p>

    <hr>

    <!-- Judul Katalog Produk -->
    <h2>Product Catalogue</h2>

    {% for product in products %}
        <div>
            <img src="{{ product.thumbnail }}" alt="{{ product.name }}" width="200">
            <h3>{{ product.name }}</h3>
            <p><strong>Kategori:</strong> {{ product.category }}</p>
            <p><strong>Harga:</strong> Rp {{ product.price }}</p>
            <p><strong>Deskripsi:</strong> {{ product.description }}</p>
        </div>
        <hr>
    {% endfor %}

</body>
</html>